
    body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
            background-color: #333;
            color: whitesmoke;
        }

     input,
    button {
            font: inherit;
            width: max-content;
        }

        form {
            display: flex;
            flex-flow: column nowrap;
            gap: 1.5rem;
        }
    